<div class="container">
  <div class="row">
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Students</mat-card-title>
          <mat-card-subtitle>Total Students </mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          {{studentsize}} 
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Teacher</mat-card-title>
          <mat-card-subtitle>Total Teachers </mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          {{teachersize}} 
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Books</mat-card-title>
          <mat-card-subtitle>Total Books </mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          {{booksize}} 
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>abc</mat-card-title>
          <mat-card-subtitle>Total abc </mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
           0123454
        </mat-card-content>
      </mat-card>
    </div>
</div>


 